@model BanHangLinkKien.Models.Role

@{
    ViewData["Title"] = "Chỉnh sửa quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<!-- Basic Layout -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="text-muted fw-light">Home / </a>
        <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" class="text-muted fw-light">Danh sách quyền truy cập /</a>

        <span class="text-muted fw-light">Chỉnh sửa quyền truy cập</span>
    </h4>
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Chỉnh sửa quyền truy cập</h5>
                    <small class="text-muted float-end">Merged input group</small>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" asp-route-id="@Model.RoleId" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="RoleId" />
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-fullname">Role Name</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-user"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       id="basic-icon-default-fullname"
                                       placeholder="Role Name"
                                       asp-for="RoleName"
                                       aria-label="Role Name"
                                       aria-describedby="basic-icon-default-fullname2" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="Descriptiton" for="basic-icon-default-company">Description</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-buildings"></i>
                                </span>
                                <input type="text"
                                       id="basic-icon-default-company"
                                       class="form-control"
                                       asp-for="Descriptiton"
                                       placeholder="Description"
                                       aria-label="Description"
                                       aria-describedby="basic-icon-default-company2" />
                            </div>
                        </div>
                    
                    
                    
                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>